<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Iker Casilas</string>
	<string>Sergio Ramos</string>
	<string>Rio Ferdinand</string>
	<string>Philipp Lahm</string>
	<string>Marcelo</string>
	<string>Xabi Alonso</string>
	<string>Tony Kroos</string>
	<string>Wayne Rooney</string>
	<string>Kaka</string>
	<string>Fernando Torres</string>
	<string>Cristiano Ronaldo</string>
</array>
</plist>
