<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Asian Tech</string>
	<string>Câu chuyện rất đơn giản là khi khách hàng nói chỉ làm với iOS 8 và iPhone 5 trở đi thì mặc nhiên anh em mình sẽ ko làm autolayout cho màn hình 3,5in. Nhưng phải hiểu là khi build app với iOS 8 thì vẫn còn support cho iPhone 4 và 4s và 1 điều oái ăm là iPad chạy app iPhone với size màn hình là 3,5in. Nên với “ĐẠO ĐỨC NGHỀ NGHIỆP” thì bắt buộc mình phải làm.</string>
	<string>Kẻ thù lớn nhất của đời người là chính mình.</string>
	<string>“App chạy đúng thiết kế trên các kích cỡ màn hình mà khách hàng yêu cầu. Nhưng tất cả màn hình khác, bao gồm các màn hình không được đề cập tới thì phải hiển thị đầy đủ thông tin của giao diện ứng dụng trên nó. Sẽ có rất nhiều cách để hiển thị, như scroll, scale….”</string>
	<string>Phải biết điềm tĩnh trước gái xinh, không giật mình trước gái xấu.</string>
	<string>Kim Bình Mai (金瓶梅, Jīnpíngméi), tên đầy đủ là Kim Bình Mai từ thoại (Truyện kể có xen thi từ về Kim Bình Mai); là bộ tiểu thuyết dài gồm 100 hồi[1] của Trung Quốc.

Đây là bộ truyện dài đầu tiên mà cốt truyện hoàn toàn là hư cấu sáng tạo của một cá nhân. Trước đó, các truyện kể đều dựa ít nhiều vào sử sách hoặc truyện kể dân gian, và đều là sự chắp nối công sức của nhiều người[2]. Tên truyện do tên ba nhân vật nữ là Phan Kim Liên, Lý Bình Nhi và Bàng Xuân Mai mà thành.

Theo một số nhà nghiên cứu văn học, thì tác giả là một người ở Sơn Đông không rõ họ tên, có bút hiệu là Lan Lăng Tiếu Tiếu Sinh (có nghĩa là Ông thầy cười ở Lan Lăng) [3].

Có thể nói trong các tiểu thuyết viết về nhân tình thế thái (nói gọn là thế tình, tức tình đời) ở Trung Quốc, thì đây là truyện có tiếng nhất, đã khiến cho nhiều người bàn luận [4].</string>
</array>
</plist>
