<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Donec commodo lacinia sapien, nec euismod dui fringilla et. Aliquam auctor nisi sapien, et luctus nibh iaculis id.</string>
	<string>Nullam pellentesque non erat vel posuere. Maecenas dictum dolor massa, non pellentesque metus luctus ut. In ullamcorper viverra enim in pretium. Curabitur ac magna sem. Nullam pellentesque sodales dolor. Phasellus laoreet, lorem faucibus vehicula sagittis, justo leo congue dolor, vitae tristique eros metus sodales risus. Duis consequat nisi ut orci imperdiet fringilla.
</string>
	<string>Mauris sit amet ultricies lacus. Mauris consectetur nibh in pulvinar feugiat. Etiam aliquet, dui non scelerisque efficitur, metus mauris fringilla metus, eu sodales diam quam sit amet ligula. Aliquam id velit maximus, feugiat justo eget, interdum tellus. Proin sagittis euismod ex ut consequat. Quisque sed pretium quam, et tincidunt eros. Nunc efficitur egestas sapien eu tincidunt. In pellentesque turpis est, sed suscipit odio mollis at. In ut eleifend dui.</string>
	<string>Donec sed enim justo. Mauris et mattis leo, in finibus quam. Nam tincidunt in magna sed ultrices. Fusce eu justo eleifend, dapibus justo a, lacinia nisi. Fusce sollicitudin massa quis egestas fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sodales cursus mauris volutpat varius. Aenean interdum at sem id lobortis. Quisque suscipit ante a cursus eleifend. Nunc sodales enim a felis consectetur viverra.</string>
	<string>Etiam sed lacus lectus. Sed vulputate interdum nulla, nec auctor erat iaculis at. Praesent posuere enim vel risus dapibus rutrum. Quisque suscipit vel risus ut congue. Nulla tellus ipsum, fringilla bibendum massa vel, tristique blandit metus. Nam eu tortor molestie ex pharetra tristique. Praesent aliquet lectus non leo cursus tristique. Maecenas pellentesque commodo tincidunt.</string>
	<string>Duis bibendum sit amet dolor et lacinia. Donec lacinia, tortor et congue eleifend, ipsum magna dictum ligula, non imperdiet dui lacus ac risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec porttitor elementum neque quis imperdiet. Etiam ut pellentesque orci. Donec pretium est venenatis nunc feugiat, non pharetra magna maximus. Praesent tristique magna eget lorem ornare gravida. Integer orci dui, ullamcorper eu erat in, porta egestas mauris. Nullam orci ex, sagittis ac vulputate eget, vehicula vel elit. Suspendisse finibus, purus vel fermentum tempor, turpis nulla convallis nunc, in accumsan enim nisi nec odio. Duis malesuada mi eu diam porta dapibus. Fusce vel eleifend nunc.</string>
</array>
</plist>
