<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyễn Thị Thanh Huyền</string>
	<string>Nguyễn Xuân Trin</string>
	<string>Nguyễn Tiến Minh</string>
	<string>Trần Thu Nguyệt</string>
	<string>Lê Đức Trung</string>
	<string>Nguyễn Xuân Hóa</string>
	<string>Nguyễn Trần Thiện Tâm</string>
	<string>Trần Ngọc Khánh</string>
	<string>Nguyễn Văn Hiếu</string>
	<string>Văn Hồ Ngân Hà</string>
	<string>Nguyễn Văn Châu</string>
	<string>Ngô Hoàng Nam</string>
	<string>Đặng Thu Thảo</string>
</array>
</plist>
