<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyen Tien Minh</string>
	<string>Nguyen Xuan Hoa</string>
	<string>Nguyen Xuan Trin</string>
	<string>Nguyen Quang Hieu</string>
	<string>Nguyen Khanh Thien Tam</string>
	<string>Nguyen Thanh Huyen</string>
	<string>Phan Ngoc Khanh</string>
	<string>Van Ho Ngan Ha</string>
	<string>Le Duc Trung</string>
	<string>Le Quang Bien</string>
</array>
</plist>
