<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Trin Nguyen</string>
	<string>Ha Van</string>
	<string>Trung Nguyen</string>
	<string>Tam Nguyen</string>
	<string>Hoa Nguyen</string>
	<string>Huyen Nguyen</string>
	<string>Minh Nguyen</string>
	<string>Ngoc Khanh</string>
	<string>Hieu Nguyen</string>
</array>
</plist>
