<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyen Van Teo</string>
	<string>Le Thi Lung Linh</string>
	<string>Tran Tre Trung</string>
	<string>Tran Duc Bo</string>
	<string>Ngo Ba Kha</string>
	<string>Mong Thi Mo</string>
	<string>Hoang Hi Hon</string>
	<string>Mai Van Mot</string>
	<string>Ly Thi Teo</string>
	<string>Teo Thi Teo</string>
</array>
</plist>
