<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ANH… thề anh chỉ mình em 
Yêu… lắm hình ảnh Lọ Lem láng giềng
Em… đẹp như một nàng tiên
Là… anh say đắm đảo điên lâu rồi
Anh… thơm tâm trạng bồi hồi
Nói… không ngoa chứ giống ngồi đống than
Thật… lòng anh muốn sang trang
MẸ… thì mong mỏi có nàng dâu xinh
Anh… vốn trọng chữ Nghĩa – Tình
Bảo… sao đôi lứa chúng mình thương nhau
Nói… sao đẹp mối tình đầu
Dối… lòng hai đứa qua cầu gió bay
Là… vì mình ở đêm nay
Hư… vô ai biết áo bay phương nào</string>
	<string>Cậu không yêu tớ. tớ vẫn yêu
Ai bảo cậu không yêu tớ nào
Nếu mà không yêu tớ sẽ khóc
Câu sợ khóc nhiều cậu phải yêu
Tớ là thấy cậu tớ cứ yêu
Ai bảo cậu không thích được chiều
Tối nay cậu đi ăn kem với tớ
Để răng cậu rụng chẳng đứa yêu
Tớ mong cậu chẳng đẹp trai
Để tớ được thương cậu mãi hoài
Để tơ lên xe hoa ngày cưới
Hai đứa đẹp đôi như chí phèo…
Thà rằng hai đứa như chí phèo
Nhưng mà hai đứa được gần nhau
Có lẽ rằng tớ đây rất thích
Tình yêu mơ mộng dưới trăng sao</string>
	<string>Thương em thương lắm em ơi
Bữa ăn đạm bạc chỉ xơi vậy à?
Tự nhiên anh mắt lệ nhòa
Bát mì trần trụi sao mà cảm thương
Anh về hứng những giọt sương
Của bình minh sớm đang vương trên cành
Lá non lộc biếc xuân xanh
Xây tổ ấm mới có anh góp phần
Trời đã đón rét nàng Bân
Một mình cô quạnh ở trần co ro
Thương em đêm rét lại ho
Anh nguyện sưởi ấm, đói no cùng người..

Thương em thương lắm em ơi
Bữa ăn đạm bạc chỉ xơi vậy à?
Tự nhiên anh mắt lệ nhòa
Bát mì trần trụi sao mà cảm thương
Anh về hứng những giọt sương
Của bình minh sớm đang vương trên cành
Lá non lộc biếc xuân xanh
Xây tổ ấm mới có anh góp phần
Trời đã đón rét nàng Bân
Một mình cô quạnh ở trần co ro
Thương em đêm rét lại ho
Anh nguyện sưởi ấm, đói no cùng người..

Thương em thương lắm em ơi
Bữa ăn đạm bạc chỉ xơi vậy à?
Tự nhiên anh mắt lệ nhòa
Bát mì trần trụi sao mà cảm thương
Anh về hứng những giọt sương
Của bình minh sớm đang vương trên cành
Lá non lộc biếc xuân xanh
Xây tổ ấm mới có anh góp phần
Trời đã đón rét nàng Bân
Một mình cô quạnh ở trần co ro
Thương em đêm rét lại ho
Anh nguyện sưởi ấm, đói no cùng người..</string>
	<string>Tác Giả: Bắc Hà
Yêu thơ sao tội thế này
Cả năm mới có một ngày bánh trưng
Mà em lại cứ dửng dưng
Mải mê thơ thẩn bánh trưng cháy rồi
Trời ơi cháy hết cả nồi
Bánh đi đằng bánh biết giờ tính sao
Các bác hãy giúp em nào
Nay ba mươi tết tính sao bây giờ
Hay là ăn tết bằng thơ
Hay là em chỉ ngồi chờ vậy thôi</string>
	<string>Ngoài trời đang đổ cơn mưa
Có cô con gái lưa thưa mặc quần
Làm thơ lòng rối bần thần
Suýt nữa bị lỗi những vần thơ hay
Ý đồ “nhắm mắt xuôi tay”
Cũng tính làm tí “vụt bay thiên đàng”…
Nhưng thơ vần điệu nhẹ nhàng
Thiên hạ thưởng thức cùng vang tiếng cười
Biết bao ánh mắt không rời
Quần xanh lấp ló buông lơi vãi vồn
Sóng lũ đang đánh dập dồn
Nhà thơ xin phép thả hồn vào tranh:
“Trên trời mưa đổ xung quanh</string>
</array>
</plist>
