<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nyc</string>
	<string>Nym</string>
	<string>Em gai mua</string>
	<string>Le Thi Be</string>
	<string>Be Thi To</string>
	<string>To Thi Nho</string>
	<string>Tau Them Bia</string>
	<string>Them Larue</string>
	<string>Them Lam</string>
	<string>Nho nyc</string>
</array>
</plist>
