<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Nguyễn Khánh Thiện Tâm</string>
			<string>098759202</string>
		</array>
		<array>
			<string>Nguyễn Văn Lé</string>
			<string>098092847</string>
		</array>
		<array>
			<string>Lê Văn Chột</string>
			<string>098475934</string>
		</array>
		<array>
			<string>Trần Thị Bê Đê</string>
			<string>097937596</string>
		</array>
	</array>
	<array>
		<array>
			<string>Trần Thị Nở</string>
			<string>034859302</string>
		</array>
		<array>
			<string>Văn Phú Bảo</string>
			<string>098573729</string>
		</array>
		<array>
			<string>Đoàn Văn Hậu</string>
			<string>098736952</string>
		</array>
		<array>
			<string>Lê Thị Bình</string>
			<string>092375921</string>
		</array>
	</array>
	<array>
		<array>
			<string>Nguyễn Thị Vân</string>
			<string>095678293</string>
		</array>
		<array>
			<string>Trần Quang Vũ</string>
			<string>035869373</string>
		</array>
		<array>
			<string>Trần Thuý Vy</string>
			<string>098736492</string>
		</array>
		<array>
			<string>Lê Văn Vinh</string>
			<string>035986932</string>
		</array>
	</array>
</array>
</plist>
