<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bí</string>
	<string>Heo</string>
	<string>Bò</string>
	<string>Trâu</string>
	<string>Ngựa</string>
	<string>Gà</string>
	<string>Vịt</string>
	<string>Cá</string>
	<string>Ti Vi</string>
	<string>Dao </string>
	<string>Kéo</string>
	<string>Xe</string>
	<string>Chén</string>
	<string>Bát</string>
	<string>Chổi</string>
</array>
</plist>
